.App {
  text-align: center;
}
.mode {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lighth1{
  color: black;
}
.darkh1{
  color: white;
}
button{
  width: 100px;
  height: 37px;
  background-color: dodgerblue;
  color: white;
  border: none;
  cursor: pointer;
}

.modeBtn :hover{
  background-color: #010121;
}

.modeBtn{
  width: 100px;
  height: 37px;
}

.light {
  background-color: white;
}

.dark {
  background-color: #100f0f;
}


